float walk_speed 3.5
float run_speed 6
float player_rotate_speed 10
float camera_rotate_speed 0.5
float player_model_scale 0.7
float player_model_yoffset 0.5

int backwalk_animation 0 
int idle_animation 1
int walk_animation 4
int leftstrafe_animation 2
int rightstrafe_animation 3

float gravity -10.0 
float ground_pushback_factor 15.0
